/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* =====  STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */


body {
  background-color: #f4f4f4; 
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; 
  padding: 20px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
  color: #fff;
  font-size: 2.5rem; 
  margin: 0;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.aboutbutton button {
  background-color: transparent;
  border: 2px solid #fff; 
  color: #fff; 
  border-radius: 5px; 
  padding: 12px 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.aboutbutton button:hover {
  background-color: #B99AEA;
  color: #fff;
}


.play-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.firstbutton {
  padding-bottom: 50px;
}

#playbutton {
  background-color: #fff;
  color: #333; 
  border: 2px solid #333;
  border-radius: 5px; 
  padding: 20px 40px;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#playbutton:hover {
  background-color: #4CAF50; 
  color: #fff;
}


#quiz_questions {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}


#about_body {
  background-color: white;
  font-family: 'Rubik';
}

.about_title {
font-family: 'Josefin Sans';
color: white;
font-size: 2.5em;
}

.about_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 0px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about_navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

a.home_button {
  text-decoration: none; 
  color: white;      
  padding: 12px 30px; 
  border: 2px solid #fff;
  border-radius: 5px; 
  text-transform: uppercase;
}

a.home_button:hover {
  background-color: #B99AEA;
  color: white;
}


#us-map{
  display: block;
  margin: 20px auto; 
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-width: 100%;    /* Makes it responsive */

}
path:hover, circle:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

#show_map_container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.show_map_button { 
  background-color: #fff;
  color: #333; 
  border: 2px solid #333;
  border-radius: 5px; 
  padding: 14px 8px;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.show_map_button:hover {
  background-color: #a6d5ffff;
}

#g5 {
  display: none;
}

#g5.show {
  display: block; 
}

.slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots {
  bottom: -30px;
}

.slick-arrow {
  color: #333;
}

.introduction {
  max-width: 400px;
  text-align: center;
  font-size: 1.25em;
  margin: 0 auto;
  padding-top: 25px;
  line-height: 1.5;
}


